/config/snappy.php
/node_modules
/public/hot
/public/blog
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
nbproject/
/public/css/app.css
/public/js/app.js
/nodejs/node_modules
/nodejs/uploads
